<%- include("../layouts/main-top.js") %>

<div class="article-full">
  <div class="image">
    <img src="/<%= article.image %>" />
  </div>

  <p><%= article.text %></p>
</div>

<div>
  <a class="action" href="/article">Back to list</a>
</div>

<%- include("../layouts/main-bottom.js") %>
