<form action="/admin/article/<%= article.id %>" class="action-form" method="POST">
  <input type="hidden" name="_method" value="DELETE" />
  <button class="action inline" type="submit">Delete</button>
</form>
