<%- include("../../layouts/admin-top.js") %>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem distinctio,
  commodi itaque earum sunt a esse quo iure eos porro pariatur perferendis
  doloremque delectus aliquid nobis sed voluptatibus, quasi ipsum?
</p>

<%- include("../../layouts/admin-bottom.js") %>
