<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/main.css" />
    <title>NodeJS Blog</title>
  </head>
  <body>
    <div class="container">
      <header>
        <div class="menu">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div>
        <div class="menu">
          <ul>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
          </ul>
        </div>
      </header>
      <main>
        <div class="page-title">
          <h1>Home Page</h1>
        </div>
        <div class="content">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima in
          iste vitae voluptate ipsum. Corrupti, eaque ipsam. Obcaecati labore
          libero similique impedit voluptatem ad accusantium, tempora sed
          commodi explicabo delectus.
        </div>
      </main>
      <footer>
        <div class="copyright">NodeJS Course</div>
      </footer>
    </div>
  </body>
</html>
