
html 
  head 
    title Blog 
    link(rel="stylesheet", href="/styles/main.css")

  body
    div.container
      header   
        - const links = [{href: '/', label: 'Home'}, {href: '/about', label: 'About'}, {href: '/contact', label: 'Contact'}]
        .menu 
          ul 
            each link in links  
              li 
                a(href=link.href)=link.label

        .menu 
          ul 
            li
              a(href="/login") Login
              a(href="/register") Register
      main 
        .page-title
          h1= title 
        .content 
          p= content + 2 ** 10

      footer
        .copyright NodeJS Course

