* {
  margin: 0;
  padding: 0;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  box-sizing: border-box;
}

.container > * {
  border: 1px solid;
  background-color: #f1f1f1;
  padding: 1rem;
}

main {
  flex: 1 1 auto;
}

.content {
  padding: 1rem 0;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  display: flex;
  justify-content: space-between;
}

.menu > ul {
  display: flex;
  list-style: none;
  gap: 10px;
}

footer {
  text-align: center;
}

.logout {
  color: red;
}
